extends ../layout

block content
    link(rel="stylesheet", href="/css/detail.css")
    script(src="/js/detail.js")
    if PRODUCT
        div.contain
            h1 #{PRODUCT.p_name}
            div.body
            
            
                div
                    img(src=`/images/${PRODUCT.p_code}.jpg`)
                div.detail
                    div
                        span 상품코드 #{PRODUCT.p_code}
                        span 상품이름 #{PRODUCT.p_name}
                    div
                        span 품목
                        span 규격 
                    div
                        span 매입단가 #{PRODUCT.p_iprice}
                        span 매출단가 #{PRODUCT.p_oprice}
                    div
                        strong 그들의 이상은 아름답고 소담스러운
                    div
                        p 따듯한 봄바람마다 풀밭에 속잎나고 가지에 싹이 트고 새 우는 봄날의 
                
                    div.btn_box(data-p_code = `${PRODUCT.p_code}`)
                        button 수정
                        button 삭제
    else 
        h1 입력한 값의 데이터는 없습니다.
